@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.game-page {
  height: var(--windows-height);
  width: var(--windows-width);
  //overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

.btn-close svg {
  stroke: white;
}

.bg-player1 {
  background: $playerOne;
  transition: background-color 100ms linear;
}

.current-player1 {
  background: color-mix(in srgb, #fff, $playerOne 25%) !important;
  transition: background-color 100ms linear;
}

.current-player2 {
  background: color-mix(in srgb, #fff, $playerTwo 25%) !important;
  transition: background-color 100ms linear;
}

.current-player3 {
  background: color-mix(in srgb, #fff, $playerThree 25%) !important;
  transition: background-color 100ms linear;
}

.current-player4 {
  background: color-mix(in srgb, #fff, $playerFour 25%) !important;
  transition: background-color 100ms linear;
}

.bg-player2 {
  background: $playerTwo;
  transition: background-color 100ms linear;
}

.bg-player3 {
  background: $playerThree;
  transition: background-color 100ms linear;
}

.bg-player4 {
  background: $playerFour;
  transition: background-color 100ms linear;
}

@media screen and (orientation: landscape) {
  #rotated-device {
    display: flex;
  }
}

@media screen and (orientation: portrait) {
  #rotated-device {
    display: none;
  }
}


.board {
  display: grid;
  padding: 8px;
  margin: 20px;

  .row {
    display: flex;
  }

  .cell {
    padding: 0;
    border: 0 !important;
    background: #eee;
    max-width: 3rem;
    max-height: 3rem;
    width: var(--boardItemSize) !important;
    height: var(--boardItemSize) !important;
    min-width: var(--boardItemSize) !important;
    min-height: var(--boardItemSize) !important;
    border-radius: $boardItemRadius;
    margin: 1px;

    .dice-ghost {
      position: absolute;
      animation-duration: 200ms;
      animation-iteration-count: 1;
    }

    .dice-ghost1 {
      animation-name: dice-ghost-animation1;
    }

    .dice-ghost2 {
      animation-name: dice-ghost-animation2;
    }

    .dice-ghost3 {
      animation-name: dice-ghost-animation3;
    }

    .dice-ghost4 {
      animation-name: dice-ghost-animation4;
    }

    .dice {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 3rem;
      max-height: 3rem;
      width: calc(var(--boardItemSize) - 8px) !important;
      height: calc(var(--boardItemSize) - 8px) !important;
      border-radius: 100%;
      padding: 0;

      .dice-circle {
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 100%;
        display: inline-block;
        background: #fff;
        width: calc(var(--boardItemSize) / 7);
        height: calc(var(--boardItemSize) / 7);
      }
    }
  }
}

@keyframes dice-ghost-animation1 {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes dice-ghost-animation2 {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes dice-ghost-animation3 {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes dice-ghost-animation4 {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}