
$diceItemSize: 2rem;

:root {
  --windows-width: 430px;
  --windows-height: 430px;
  --boardItemSize: 3rem;
}

$boardItemSize: 2.25rem;
$boardItemRadius: 0.5rem;

$playerOne: #00BBF9;
$playerTwo: #FFB703;
$playerThree: #66A182;
$playerFour: #BF9ACA;